<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='评论管理',active='comments'">
<header th:replace="admin/fragments/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/fragments/header::header-body"></div>
    <div class="content-page">
       66666666666666666666666
</div>
<div th:replace="admin/fragments/footer :: footer"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    function delComment(coid) {
        tale.alertConfirm({
            title: '确定删除该评论吗?',
            then: function () {
                tale.post({
                    url: '/admin/comments/delete',
                    data: {coid: coid},
                    success: function (result) {
                        if (result && result.code == 'success') {
                            tale.alertOkAndReload('评论删除成功');
                        } else {
                            tale.alertError(result.msg || '评论删除失败');
                        }
                    }
                });
            }
        });
    }

    function updateStatus(coid) {
        tale.alertConfirm({
            title: '确定审核通过吗?',
            then: function () {
                tale.post({
                    url: '/admin/comments/status',
                    data: {coid: coid, status: "approved"},
                    success: function (result) {
                        if (result && result.code == 'success') {
                            tale.alertOkAndReload('评论状态设置成功');
                        } else {
                            tale.alertError(result.msg || '评论设置失败');
                        }
                    }
                });
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>