<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='友链管理',active='links'">
<header th:replace="admin/fragments/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/fragments/header::header-body"></div>
    <div class="content-page">
       777777777777777777777
</div>
<div th:replace="admin/fragments/footer :: footer"></div>
<script src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    $('#linkForm').validate({
        submitHandler: function (form) {
            var params = $("#linkForm").serialize();
            tale.post({
                url : '/admin/links/save',
                data: params,
                success: function (result) {
                    $('#linkForm input').val('');
                    $('#linkForm #sort').val('0');
                    if(result && result.code == 'success'){
                        tale.alertOkAndReload('友链保存成功');
                    } else {
                        tale.alertError(result.msg || '友链保存失败');
                    }
                }
            });
        }
    });

    function editLink(obj) {
        var this_ = $(obj);

        var mid = this_.parents('tr').attr('mid');
        var title = this_.parents('tr').find('td:eq(0)').text();
        var url = this_.parents('tr').find('td:eq(1)').text();
        // var logo = this_.parents('tr').find('td:eq(2)').text();
        var logo = this_.parents("tr").find("td:eq(2)").children().attr("src");
        var sort = this_.parents('tr').find('td:eq(3)').text();

        $('#linkForm #mid').val(mid);
        $('#linkForm #title').val(title);
        $('#linkForm #url').val(url);
        $('#linkForm #logo').val(logo);
        $('#linkForm #sort').val(sort);
    }

    function delLink(mid) {
        tale.alertConfirm({
            title:'确定删除该链接吗?',
            then: function () {
                tale.post({
                    url : '/admin/links/delete',
                    data: {mid: mid},
                    success: function (result) {
                        if(result && result.code == 'success'){
                            tale.alertOkAndReload('链接删除成功');
                        } else {
                            tale.alertError(result.msg || '链接删除失败');
                        }
                    }
                });
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>